/* .background-box {
    margin: 0;
    background-image: url("/home-media/jupiter-solo.jpeg");
    background-size: 100%;
    background-position: center;
    background-color: transparent;

    width: 100%;
    height: 100%;
    position: fixed;
} */

.header {
    height: 100px;
    /* margin-top: 1px; */
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    position: fixed;
    width: 100%;
}

.left-section {
    background-color: transparent;
    /* flex: 1; */
    /* width: 100px; */
    height: fit-content;
    color: white;
    text-align: center;
    padding: 10px;

}

.middle-section {
    background-color: lightpink; 
    width: 200px;
    height: 50px;
}

.right-section {
    /* background-color: rgba(41, 41, 41, 0.8);  */
    background-color: transparent;
    width: fit-content;
    height: 75px;
    text-align: end;
    padding: 10px;
}