.headshot-img {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.content-1-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    /* border-radius: 50%; */
}

.content-2-img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10%;
    transition: transform 0.2s;
}
.content-2-img:hover {
    transform: scale(1.5);
}

.cont-img-split-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-inline: 10px;
    margin-top: 7px;
    margin-bottom: 0px;
}

.cont-img-split-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-inline: 10px;
    margin-top: 7px;
    margin-bottom: 15px;
}

.img-half {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10%;
    flex: 1;
    margin-inline: 5px;
}

.img-half-2 {
    width: 300px;
    height: 245px;
    object-fit: cover;
    border-radius: 10%;
    flex: 1;
}

.img-half-3 {
    width: 300px;
    height: fit-content;
    object-fit: cover;
    border-radius: 10%;
}

.img-one-third {
    width: 300px;
    height: fit-content;
    object-fit: cover;
    border-radius: 10%;
    flex: 1;
}

.img-one-third-2 {
    width: 200px;
    height: fit-content;
    object-fit: cover;
    border-radius: 10%;
    flex: 1;
    transition: transform 0.2s;
}
.img-one-third-2:hover {
    transform: scale(1.5);
}

.img-third-vert {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10%;
    flex: 1;
    margin-inline: 5px;
}

.img-third-vert-poster {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10%;
    flex: 1;
    margin-inline: 5px;
    transition: transform 0.2s;
}
.img-third-vert-poster:hover {
    transform: scale(1.5);
}

.img-quarter-vert {
    width: 180px;
    height: fit-content;
    object-fit: cover;
    border-radius: 10%;
    flex: 1;
    margin-inline: 5px;
}

.img-fifth-vert {
    width: 120px;
    height: 180px;
    object-fit: cover;
    border-radius: 10%;
    flex: 1;
    margin-inline: 5px;
    transition: transform 0.2s;
}
.img-fifth-vert:hover {
    transform: scale(1.5);
}

.img-fifth-box {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10%;
    flex: 1;
    margin-inline: 5px;
    transition: transform 0.2s;
}
.img-fifth-box:hover {
    transform: scale(2);
}

.img-box-1 {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10%;
    flex: 1;
    margin-left: 30px;
}

.img-rect-1 {
    width: 300px;
    height: 160px;
    object-fit: cover;
    border-radius: 10%;
    flex: 1;
}

.img-wide-banner-1 {
    width: 600px;
    border-radius: 10%;
    margin-bottom: 10px;
}

.img-wide-banner-2 {
    width: 600px;
    height: fit-content;
    border-radius: 20px;
    transition: transform 0.2s;
}
.img-wide-banner-2:hover {
    transform: scale(1.5);
}

.grid-special {
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-between;
}

.grid-special-2 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
}

.grid-special-3 {
    display: flex;
    flex-direction: row;
    margin: 5px;
    justify-content: space-between;
}

.grid-special-4 {
    display: flex;
    flex-direction: row;
    margin-top: 3px;
    margin-bottom: 7px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
}

.grid-special-5 {
    display: flex;
    flex-direction: row;
    margin-top: 3px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
}

.phot-third-tall {
    width: 300px;
    height: 430px;
    margin-inline: 5px;
    object-fit: cover;
    transition: transform 0.2s;
}
.phot-third-tall:hover {
    transform: scale(1.3);
}

.grid-vert-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid-vert-cont-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.phot-third {
    width: 302px;
    height: 205px;
    margin-inline: 5px;
    object-fit: cover;
    transition: transform 0.2s;
}
.phot-third:hover {
    transform: scale(1.4);
}

.phot-third-2 {
    width: 302px;
    height: fit-content;
    margin-inline: 5px;
    object-fit: cover;
}

.phot-third-3 {
    width: 302px;
    height: 210px;
    margin-inline: 5px;
    object-fit: cover;
    transition: transform 0.2s;
}
.phot-third-3:hover {
    transform: scale(1.5);
}

.phot-third-4 {
    width: 230px;
    height: 160px;
    border-radius: 10%;
    margin-inline: 5px;
    object-fit: cover;
}

.phot-fourth {
    width: 230px;
    height: 160px;
    margin-inline: 5px;
    object-fit: cover;
    transition: transform 0.2s;
}
.phot-fourth:hover {
    transform: scale(1.7);
}

.phot-fourth-2 {
    width: 210px;
    height: 230px;
    margin: 5px;
    object-fit: cover;
    transition: transform 0.2s;
}
.phot-fourth-2:hover {
    transform: scale(1.3);
}

.phot-fourth-3 {
    width: 230px;
    height: 160px;
    margin-inline: 5px;
    object-fit: cover;
}

.phot-fourth-4 {
    width: 410px;
    height: fit-content;
    margin-inline: 5px;
    object-fit: cover;
}

.grid-sixth {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.phot-sixth {
    width: 155px;
    height: 120px;
    margin-inline: 5px;
    object-fit: cover;
    transition: transform 0.2s;
}
.phot-sixth:hover {
    transform: scale(2.5);
}

.phot-sixth-2 {
    width: 155px;
    height: 120px;
    margin: 5px;
    object-fit: cover;
}

.phot-pano {
    width: 945px;
    height: 160px;
    object-fit: cover;
    /* margin: 1px; */
}

.phot-pano-2 {
    width: 550px;
    height: 160px;
    object-fit: cover;
    margin: 10px;
    border-radius: 25px;
}

.phot-square-sm1 {
    width: 190px;
    height: 150px;
    margin-inline: 5px;
    object-fit: cover;
    border-radius: 20%;
    transition: transform 0.2s;
}
.phot-square-sm1:hover {
    transform: scale(1.5);
}